
:root{
    --bg-color: #fff;
    --text-color: #5f6367;
    --danger-color: hsl(0, 100%, 40%);
    --input-bg-color: #f0f4f9;
    --list-item-color: #c4c7c5;
    --new-todo-color: #BDC1C6;
    --gradiant: linear-gradient(90deg, rgba(18,113,255,1) 0%, rgba(220,16,16,1) 100%);
}
.icons button svg path{
    fill: var(--text-color);
}
.btn  svg path{
    fill: white;
}