
@font-face {
	font-family: Alibaba;
	font-style: normal;
	font-weight: 600;
	src: url('fonts/woff2/Alibaba-Bold.woff2') format('woff2');
}
@font-face {
	font-family: Alibaba;
	font-style: normal;
	font-weight: normal;
	src: url('fonts/woff2/Alibaba-Regular.woff2') format('woff2');
}
.theme-dark{
  font-family: Alibaba, Inter;
  line-height: 1.5;
  font-weight: 400;
  --bg-color: #131314;
  --text-color: #caccce;
  --danger-color: hsl(0, 100%, 40%);
  --input-bg-color: #1e1f20;
  --list-item-color: #444746;
  --new-todo-color: #BDC1C6;
  --gradiant: linear-gradient(135deg, #168ca1 0%, #327a59 100%);
}
.theme-light{
  font-family: Alibaba, Inter;
  line-height: 1.5;
    font-weight: 400;
    --bg-color: #f2f2fc;
    --text-color: #303030;
    --danger-color: hsl(0, 100%, 40%);
    --input-bg-color: #c9e1dc;
    --list-item-color: #707a74;
    --new-todo-color: #303030;
    --gradiant: linear-gradient(135deg, #168ca1 0%, #327a59 100%);
}
* {
  font-family: Alibaba, Inter;
  box-sizing: border-box;
  color: var(--text-color);
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: background 0.3s ease-in-out, color 0.3s ease-in-out, fill 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

body {
  background: var(--bg-color);
  width: min(830px , 90%);
  margin: 0 auto;
  height: 100vh;
  overflow: hidden;
}

svg{
  width: 16px;
  height: 16px !important;
}

svg path{
  fill: var(--text-color);
}


.btn svg path{
  fill: #caccce;
}

.fa-xmark path{
  transform-origin: center;
  scale: 1.5;
}

.new-item-form {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: min(830px , 90%);
  margin-bottom: 24px;
}

.form-row {
  display: flex;
  gap: 8px;
}

form p{
  font-weight: 600;
  margin: 8px 16px;
  text-align: center;
  font-size: 12px;
  color: var(--text-color);
}

form a{
  color: #168ca1;
}

span{
  background: var(--gradiant);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent; 
  -moz-text-fill-color: transparent;
  font-weight: 600;
}

.overlayP{
  font-size: 12px;
  margin: 8px 0;
}
h2{
  margin: 8px 0;
}

.modelBack{
  display: grid;
overflow-y: scroll; 
position: fixed; 
top: 0;
right: 0;
bottom: 0;
left: 0; 
z-index: 50; 
place-items: center; 
cursor: pointer; 
overflow: hidden;
backdrop-filter: blur(8px); 
-webkit-backdrop-filter: blur(8px); 
}
.red{
  background: var(--danger-color) !important;
}
.modelIn{
  position: block;
  background-color: var(--bg-color);
  border: none;
  border-radius: 16px;
  padding: 20px;
  width: min(830px , 90%);
  height: auto;
  color: var(--text-color);
  border: 2px solid var(--text-color);
  max-width: 500px;
}

.buttons button{
  width: 40%;
  margin: 5%;
  height: 48px;
  background: var(--gradiant);
  font-size: 16px;
  font-weight: 600;
  border-radius: 32px;
  margin-bottom: 0;
}

.header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button{
  background: transparent;
  border: none;
}
header h1{
  font-size: 28px;
  color: var(--text-color);
}

.btn {
  background: var(--gradiant);
  border: none;
  color: hsl(200, 100%, 50%);
  border-radius: 16px;
  cursor: pointer;
  outline: none;
  min-width: 64px;
  height: 64px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #131314;
  font-weight: 600;
}

.maininput{
  color: var(--text-color) !important;
}

.new-item-form input {
  background: var(--input-bg-color);
  padding: 20px;
  border: none;
  width: calc(100% - 72px);
  height: 64px;
  border-radius: 16px;
  font-size: 16px;
  color: transparent;
  outline: none;
}

.header {
  font-size: 30px;
  margin-top: 20px;
  margin-bottom: 1rem;
}

.fa-sliders{
  scale: 1.8;
}
.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.listed::-webkit-scrollbar {
  width:0px;
}

.para{
  font-size: 44px;
  font-weight: 600;
  color: var(--list-item-color);
  line-height: 110%;
  margin: 64px 0;
}

.list li:has(input:checked) label {
  color: hsl(200, 20%, 40%);
}

.listed {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  height: calc(100vh - 170px);
  border-radius: 16px;
}
.list{
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  border-radius: 16px;
}

.listed h2{
  font-size: 20px;
}

.list li {
  display: flex;
  align-items: center;
  background: var(--input-bg-color);
  border-radius: 12px;
  padding: 0 16px;
  justify-content: space-between;
  height: 48px;
}

.list li label {
  display: flex;
  gap: 0.25rem;
  cursor: pointer;
  align-items: center;
}

.list li:has(input:focus-visible) label {
  outline: 1px solid hsl(200, 100%, 50%);
}

.list li input {
  outline: none;
  width: 0;
  height: 0;
  appearance: none;
  pointer-events: none;
  position: absolute;
  color: var(--text-color);
}
.list li label p{
  font-size: 16px;
  color: var(--text-color);
  margin: 0;
}

.list li label::before {
  content: "";
  display: block;
  width: 22px;
  height: 22px;
  background: transparent;
  border: 2px solid var(--text-color);
  margin: 0 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}

.list li label:hover::before {
  content: "✔";
  font-size: 0.75rem;
  font-weight: 600;
}

.list li:has(input:checked) label::before {
  content: "✔";
  background: var(--gradiant);
  color: var(--bg-color);
  font-size: 0.75rem;
  font-weight: 600;
  border: none;
  width: 26px;
  height: 26px;
  text-decoration: none !important;
}

.list li:has(input:checked) label p{
  text-decoration: line-through;
  font-size: 16px;
  color: var(--list-item-color);
}

.list li:has(input:checked) label:hover::before {
  background: var(--gradiant);
}
.datetime-input {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--input-bg-color);
  border: none;
  max-width: 64px;
  min-width: 64px;
  height: 64px;
  border-radius: 16px;
  font-size: 16px;
  color: var(--new-todo-color);
  outline: none;
  cursor: pointer;
}

.datetime-input input[type="datetime-local"] {
  width: auto;
  appearance: none;
}

.datetime-input svg {
  padding: 24px;
  position: relative;
  bottom: -2px;
}
#fape .fapl{
  display: none;
}
#fapl .fape{
  display: none;
}
.settings{
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.settings h2{
  margin: 8px 0;
  font-size: 18px;
  font-weight: 600;
  text-align: center;
  display: flex;
  align-items: center;
  text-align: center;
}

.settings h2::before,
.settings h2::after {
  content: "";
  flex: 1;
  border-bottom: 1px solid var(--text-color);
  margin: 0 10px; 
}

.credit{
  font-size: 14px;
  font-weight: 400;
  display: inline;
  text-align: center;
}
.themesw svg{
  scale: 1.9;
  margin: 0 8px;
}
.themesw{
  margin: 0 12px;
}
.inSettingsBtn{
  width: 100%;
  font-size: 16px;
  color: var(--bg-color);
  font-weight: 400;
  height: 48px;
  border-radius: 12px;
}
.settings > div{
  display: flex;
  gap: 8px;
}
.inSettingsBtninput{
  background: var(--input-bg-color);
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  height: 48px;
  border-radius: 12px;
  padding: 0 8px;
}
.inSettingsBtnsel{
  background: var(--input-bg-color);
  width: 100%;
  font-size: 16px;
  color: var(--text-color);
  font-weight: 400;
  height: 48px;
  border-radius: 12px;
  padding: 0 8px;
}

.datetime-picker {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.datetime-picker .datepicker-input {
  width: 100%;
}

.datetime-picker .calendar-icon {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #888;
}
.react-datepicker-wrapper,
.react-datepicker__input-container
 {
    width: 100%;
    background-color: var(--bg-color);
    color: var(--text-color);
}

.react-datepicker {
    background-color: var(--bg-color);
    color: var(--text-color);
    border: none;
    border-radius: 16px;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px)
}

.react-datepicker__header {
    background-color: var(--bg-color);
    border-bottom: 1px solid #ccc;
    border-radius: 12px 12px 0 0;
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px)
}
.react-datepicker__navigation--next--with-time:not(.react-datepicker__navigation--next--with-today-button) {
  right: 5px;
  top: 5px;
}
.react-datepicker__navigation--previous {
  left: 5px;
  top: 5px;
}
.react-datepicker__day,
.react-datepicker__day-name,
.react-datepicker__time-name {
    color: var(--text-color);
}

.react-datepicker__current-month,
.react-datepicker-time__header {
    color: var(--text-color);
}

.react-datepicker__day--selected,
.react-datepicker__day--keyboard-selected {
    background-color: var(--text-color);
    color: var(--bg-color);
}

.react-datepicker__day--today {
    font-weight: 600;
    color: var(--text-color);
}

.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item--selected {
    background-color: var(--text-color);
    color: var(--bg-color);
}
.react-datepicker__time-list-item{
  color: var(--text-color);
  background: var(--bg-color);
} 
.react-datepicker__time-container {
  float: right;
  width: 100%;
  border-left: none;
  
}
.react-datepicker__time-container .react-datepicker__time {
  position: relative;
  background: var(--bg-color);
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item:hover {
  cursor: pointer;
  background-color: var(--list-item-color);
}
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box {
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  text-align: center;
  border-radius: 0 0 12px 12px;
  }
.react-datepicker__time-container .react-datepicker__time .react-datepicker__time-box ul.react-datepicker__time-list li.react-datepicker__time-list-item{
  background-color: var(--bg-color);
    backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
}
.react-datepicker__day:hover, .react-datepicker__month-text:hover, .react-datepicker__quarter-text:hover, .react-datepicker__year-text:hover {
  border-radius: 0.3rem;
  background-color: var(--list-item-color);
}
.react-datepicker__day--selected, .react-datepicker__day--keyboard-selected{
  color: var(--text-color);
  background:#327a59;
  
}
.react-datepicker__time-list-item--selected{
  color: var(--text-color) !important;
  background:#327a59 !important;
}